a:focus {
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
/** Custom styles **/
.vis-hidden {
    visibility: hidden !important;
}
a {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

#mainWrap {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 0;
    margin-top: -45px;

}
/**********************************************************************/
/************************** LOGIN CONTAINER **************************/
/********************************************************************/

#loggit {
    width: 480px;
    margin: 5% auto 0;
    padding: 20px 40px;
}
#loggit h1 {
    text-align: center;
    font-weight: 700;
    margin: 5px 0 15px;
    color: white;
}
#loggit h3 {
    text-align: center;
    font-size: 18px;
    color: #D8D7D7;
    margin: 0 0 20px;
}
#loggit .input-group-addon {
    border: 0 none;
}
#loggit .form-control {
    border: 0 none;
}
#loggit .form-control:focus {
    box-shadow: none;
}
#loggit .formSubmit {
    margin-bottom: 25px;
}
#loggit .submitWrap {
    text-align: right;
}
#loggit .formNotice {
    margin: 0;
    font-size: 13px;
}
#loggit .formNotice span {
    cursor: pointer;
    color: #6EBCFF;
}
#loggit .formNotice span:hover,
#loggit .formNotice span:focus {
    color: #CDD4DA;
    text-decoration: underline;
    
}
#loggit #regForm {
    display: none;
}
/**********************************************************************/
/************************* FOOTER ************************************/
/********************************************************************/
footer {
    background: none repeat scroll 0 0 #111111;
    height: 76px;
    margin-top: -76px;
    position: relative;
    text-align: center;
    padding: 20px 0;
}
footer p {
    color: #CCCCCC;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    padding: 0 5px;
    font-size: 16px;
}

/**********************************************************************/
/****************** MEDIA QUERIES ************************************/
/********************************************************************/

@media(max-width:979px){


}
@media (max-width: 768px) {
    body {
        padding-bottom: 0;
    }
    #loggit {
        margin-top: 0;
        width: 100%;
    }
    #loggit .submitWrap {
        margin-top: 15px;
        text-align: center;
    }
    footer {
        position: relative;
    }
    footer p{
        font-size: 13px;
    }

}
@media (max-width: 500px) {
    #loggit {
        width: 100%;
    }
}